blinker
click
colorama
decorator
distlib
filelock
Flask
Flask-SQLAlchemy
fsspec
greenlet
itsdangerous
Jinja2
lxml
MarkupSafe
mpmath
networkx
numpy
pillow
platformdirs
psycopg2-binary
pygame
python-dotenv
pytils
qt5-applications
qt5-tools
self
six
SQLAlchemy
sympy
tools
torch
torchaudio
torchvision
typing_extensions
virtualenv
Werkzeug
mysql-connector-python
flask-cors
